@using WebNhanVien.Controllers
@{
    Layout = "StaffLayout";
    var currentPage = (string)@ViewBag.currentPage;
    var pageNunber = (int)ViewBag.pageNumber;
    var keyBox = (string)@ViewBag.keyBox;
    var keyPhongBan = (string)@ViewBag.keyPhongBan;
}
<input type="text" id="keyBox" value="@keyBox" hidden />
<input type="text" id="keyPhongBan" value="@keyPhongBan" hidden  />
<input type="number" id="pageNumber" value="@pageNunber" hidden />
<input type="number" id="TemppageNumber" value="@pageNunber" hidden />
<input type="text" id="currentPage" value="@currentPage" hidden />
<nav aria-label="Page navigation">
    <ul class="pagination pagination-lg justify-content-center" id="listPage">
        <li class="page-item " id="startList">
            <a class="page-link" tabindex="-1"><i class="fas fa-caret-left"></i></a>
        </li>
        <li class="page-item" id="endList">
            <a class="page-link" tabindex="-1"><i class="fas fa-caret-right"></i></a>
        </li>
    </ul>
</nav>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/pagenav.js"></script>
}

